{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Library Registration</title>
</head>
<body>
    <figure class="text-center">
        <blockquote class="blockquote">
            <a class="navbar-brand" href="/"><h5>School Management System</h5></a>
        </blockquote>
    </figure>
    <div class="container content">
        <h3>Create Account</h3>
    </div>
        <div class="container content" >
            
            <div class="row">
                <div class="col align-self-left" style="margin-right: 15px;">
                    <h5>For Teachers</h5>
                    <p class="doc">We help the teachers to expand thier potential by understanding making them idetify the course to groom </p>
                    <a href="{% url 'teach' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
                </div>
                <div class="col align-self-left" style="margin-left: 15px;">
                    <h5>For Students</h5>
                    <p class="doc">We help the students to unlock thier potential making thier stats and helping them to groom</p>
                    <a href="{% url 'stud' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
                </div>
            </div>
        </div>
        <figure class="text-center">
            <figcaption class="blockquote">
                <small class="text-muted">Already have an account?</small>
            </figcaption>
        </figure>
        <figure class="text-center">
            <a style="width: 20%;" href="{% url 'log' %}"><button type="button" class="btn btn-light">Sign-In</button></a>
        </figure>
    
</body>
</html>